a{
    color:  rgba(255, 157, 0, 0.897);;
  }
  .login-container {
      background-color: #f8f8f8;
      /* margin-right: -20px; */
      width: 450px;
      margin: 70px ;
      padding: 20px;
      border-radius: 8px;
      text-align: center;
      box-shadow: 5px 0 10px rgba(0, 0, 0, 0.05); /* Box shadow on the right side only */
      color:  #4b456f;
    }
    
    .login-form {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
    .full_name{
        display: flex;
        justify-content: space-between;
    }
    
    input {
      padding: 8px;
      margin-bottom: 16px;
      border: 1px solid #ccc; /* Border for the input fields */
      border-radius: 4px;
      box-shadow: none; /* Remove box shadow for the input fields */
    }
    
    .button {
      background-color: #007bff;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    .button_last{
      background-color: rgba(255, 157, 0, 0.897);
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 200px;
    }
    
    .create-account-text {
      margin-top: 20px;
    }
    
    .create-account-link {
      color: orange;
    }
    button:hover{
      background-color:  rgba(255, 157, 0, 0.897);
    }
.password_section{
  display: flex;
}
    
    